@use "presets" as *;

.blog {
  padding: 16px 0 120px;

  &__header {
    font-size: 40px;
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 48px;
  }
}

.slider {
  margin: 0 -24px;

  &__article {
    padding: 0 24px;

    &-cover {
      width: 350px;
      height: 200px;
      margin-bottom: 24px;
      object-fit: cover;
    }

    &-details {
      color: $color-info;
      margin-bottom: 16px;
    }
    
    &-author {
      font-weight: 700;
      transition: all .2s;
    }

    &-author:hover {
      color: $color-active;
    }

    &-title {
      font-size: 20px;
      font-weight: 700;
      transition: all .2s;
      display: inline-block;
      margin-bottom: 80px;
    }

    &-title:hover {
      color: $color-active;
    }
  }
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.slick-dots button {
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  font-size: 0;
  background-color: $color-primary;
}

.slick-dots .slick-active button {
  background-color: $color-active;
}