@use "presets" as *;

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url('../img/services/bg-services.svg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  &__subtitle {
    margin: 0 auto 16px;
    text-align: center;
  }

  &__title {
    font-size: 40px;
    max-width: 620px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto 48px;
  }

  &__items {
    display: flex;
    gap: 48px;
    margin-bottom: 56px;
  }

  &__item {
    width: 280px;

    &-icon {
      margin-bottom: 24px;
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.33;
    }

    &-description {
      line-height: 1.6;
    }
  }

  &__btn {
    display: block;
    width: 126px;
    margin: 0 auto;
    padding: 12px 24px;
    height: 48px;
    background-color: $color-active;
    color: $color-secondary;
  }

  &__btn:hover {
    background-color: $color-primary;
  }
}