@media (max-width: 992px) {
  .header__inner {
    flex-wrap: wrap;
    height: auto;
    padding-top: 24px;
  }

  .menu {
    order: 1;
    width: 100%;
  }

  .menu__list {
    justify-content: flex-end;
    padding-top: 32px;
  }

  .hero__inner {
    background-image: none;
    padding: 64px 0;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .header__inner {
    display: block;
  }

  .menu__list {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    text-align: center;
    transform: translateY(-300%);
    transition: all .4s;
  }

  .menu__list.menu__list--active {
    transform: translateY(0%);
  }

  .menu__list-item {
    padding: 16px 0;
    display: block;
  }

  .menu__btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 32px;
  }

  .user-actions {
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    padding-top: 24px;
  }

  .hero__title {
    font-size: 32px;
    margin-bottom: 48px;
  }
}